.Projects {
  width: 96%;
}

.Projects h2 {
  width: 100%;
  text-align: start;
  margin-bottom: 8px;
}

.Projects .projects-views {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.Projects .projects-views .project-card {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.Projects .projects-views .project-card div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 8px;
}

.Projects .projects-views .project-card div p,
.Projects .projects-views .project-card div button {
  margin: 0;
}

.Projects .projects-views .project-card div button {
  text-align: end;
}

.Projects .projects-views div button {
  width: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 10px;
  color: orange;
  text-align: start;
}

.Projects .projects-views img {
  width: 100%;
  height: 400px;
}

.project-temp img {
  width: 260px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
