body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Laila', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
