.About {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: justify;
  @media screen and (max-width: 360px) {
    width: 94%;
  }
}

.About h2 {
  margin: 0;
  width: 100%;
  text-align: center;
  /* color: rgb(218, 215, 215); */
  color: #5e503f;

}

.About p {
  color: #0a0908;
}


